* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: white;
}

.navbar {
    width: 98.9%;
    position: fixed;
    height: 20%;
}

.row {
    margin-top: -0.5%;
    background-color: #2B9FF3;
}

img.image {
    height: 80px;
    width: 75px;
    border-radius: 60%;
    margin-left: 1%;
    margin-top: 10%;
}

.titleDiv {
    margin-top: 0%;
}

.titleDiv>h2 {
    color: white;
    font-weight: 700;
}

.titleDiv>h4 {
    color: white;
    font-weight: 500;
}

.nav {
    background-color: #2B9FF3;
    width: 98%;
    border-radius: 10px;
    margin-left: 1%;
    margin-top: 0%;
}

ul>li>a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

ul {
    list-style: none;
}

ul>li {
    float: left;
    padding-right: 7%;
    padding-left: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.information {
    display: flex;
    margin-left: 10%;
    width: 80%;
}

.info {
    border: 3px solid #2B9FF3;
    margin-left: 2%;
    border-radius: 10px;
    padding: 0.8%;
    font-size: 15px;
    font-weight: 600;
}

.contacts {
    border: 3px solid #2B9FF3;
    border-radius: 10px;
    margin-left: 16%;
}

input.searching {
    border: 2px solid #2B9FF3;
    padding: 0.5%;
    width: 100%;
    border-radius: 10px;
    background: url("/IMAGES/download.png");
    background-repeat: no-repeat;
    background-position: right;
}

.searching::placeholder {
    color: rgb(153, 151, 151);
    font-weight: 700;
}

.table.record {
    width: 80%;
    padding: 2%;
    border: 3px solid #D9D9D9;
    border-top: none;
    margin-left: 10%;
    font-size: 16px;
    border-radius: 20px;
}

tbody {
    border-radius: 20px;
}