* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: white;
    overflow-x: hidden;
}

.navbar {
    width: 98.9%;
    height: 20%;
    position: relative;
    z-index: 2;
    margin-top: 8.5%;
}

.row {
    margin-top: -9%;
    background-color: #2B9FF3;
}

img.image {
    height: 80px;
    width: 75px;
    border-radius: 60%;
    margin-left: 1%;
    margin-top: 18%;
}

.titleDiv {
    margin-top: 2%;
}

.titleDiv>h2 {
    color: white;
    font-weight: 700;
}

.titleDiv>h4 {
    color: white;
    font-weight: 500;
}

.nav {
    background-color: #2B9FF3;
    width: 90%;
    border-radius: 10px;
    margin-left: 1%;
    margin-top: -5%;
    position: relative;
    z-index: 5;
}

ul>li>a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

ul {
    list-style: none;
}

ul>li {
    float: left;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.information {
    display: flex;
    margin-left: 4%;
    width: 90%;
}

.info {
    margin-left: 2%;
    border-radius: 10px;
    padding: 0.8%;
    font-size: 15px;
    font-weight: 600;
    height: 200px;
}

.contacts {
    border: 3px solid #2B9FF3;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    height: 150px;
    margin-top: 1%;
}

.updation {
    border: 3px solid #2B9FF3;
    height: 160px;
    margin-top: 0%;
    border-radius: 10px;
}

.update {
    background-color: #2B9FF3;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: white;
    border-radius: 2px;
}

h5.font {
    font-size: 15px;
    font-weight: 600;
    margin-left: 5%;
}

.one {
    border: 3px solid #D9D9D9;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 2%;
    width: 70%;
}

.fa-solid {
    margin-left: 80%;
}

.table.record {
    padding: 2%;
    border: 3px solid #D9D9D9;
    border-top: none;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 16px;
    border-radius: 20px;
}

tbody {
    border-radius: 20px;
}

.lastColumns {
    display: flex;
    margin-left: 30%;
}

button.btn {
    background-color: #2B9FF3;
    color: white;
    border-radius: 10px;
    width: 200px;
    padding: 4%;
}